<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni-gsheets</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>31D75F56-959F-411F-BC8A-8E29FC3D1086</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD0931C4-1DD8-434F-A70B-D332E6B48858</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53F39B0D-9C43-4E24-A373-E39CAA4845A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E44AD3EB-3F0D-41A4-B8FC-2B692625CE3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6286DB17-C84B-4F43-8290-B1C0F928C7AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD0931C4-1DD8-434F-A70B-D332E6B48858</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8806EA40-F57A-46EC-991C-DC63CA7B0EF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>659D9AAD-025B-494E-8D11-979DE23E77EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E44AD3EB-3F0D-41A4-B8FC-2B692625CE3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8806EA40-F57A-46EC-991C-DC63CA7B0EF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD0931C4-1DD8-434F-A70B-D332E6B48858</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53F39B0D-9C43-4E24-A373-E39CAA4845A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gsheets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6286DB17-C84B-4F43-8290-B1C0F928C7AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>checking...</string>
				<key>script</key>
				<string>export PYTHONPATH="$PWD/lib"
python3 checkSheet.py "$myFile"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E44AD3EB-3F0D-41A4-B8FC-2B692625CE3F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv

set myWorkflow to system attribute "myBundleID"
tell application id "com.runningwithcrayons.Alfred" to reveal workflow myWorkflow

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>659D9AAD-025B-494E-8D11-979DE23E77EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>⏳⏳⏳</string>
				<key>script</key>
				<string>export PYTHONPATH="$PWD/lib"
python3 cloneSheet.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8806EA40-F57A-46EC-991C-DC63CA7B0EF6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>FD0931C4-1DD8-434F-A70B-D332E6B48858</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>myFile</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>53F39B0D-9C43-4E24-A373-E39CAA4845A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:MainKeyword}</string>
				<key>subtext</key>
				<string>Press ↩️ to proceed</string>
				<key>text</key>
				<string>alfred-sheets</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>31D75F56-959F-411F-BC8A-8E29FC3D1086</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># gsheets

Inspired by `I-sheet-you-not`, this Workflow creates new Workflows to access individual Google Sheets.

## 🚀Usage
1. Open a Google Sheet in your browser. 
2. Launch `gsheets` via keyword (default: `gshe`) or hotkey
3. `gsheets` will check the frontmost page with one of three outcomes:
	1. The website is not a Google Sheet ▶️ check URL
	2. The website is a Google Sheet but you don't have the right permissions ▶️ review the `Setting up` section
	3. The website is a Google Sheet and you have at least viewing privileges ▶️ go to step 4
4. `gsheets` will list the individual worksheets. Select one to generate a `gsheets` Workflow instance to browse that Sheet.</string>
	<key>uidata</key>
	<dict>
		<key>31D75F56-959F-411F-BC8A-8E29FC3D1086</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>53F39B0D-9C43-4E24-A373-E39CAA4845A7</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>6286DB17-C84B-4F43-8290-B1C0F928C7AB</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>659D9AAD-025B-494E-8D11-979DE23E77EE</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Open Workflow config</string>
			<key>xpos</key>
			<real>1225</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>8806EA40-F57A-46EC-991C-DC63CA7B0EF6</key>
		<dict>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>E44AD3EB-3F0D-41A4-B8FC-2B692625CE3F</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>FD0931C4-1DD8-434F-A70B-D332E6B48858</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gshe</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Main Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>MainKeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>File with Google API account credentials (see 'Setting up')</string>
			<key>label</key>
			<string>Key File</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>KEYFILE</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
